<app-menu></app-menu>


<div class="col main pt-3">
  
  <h1 class="display-4 d-none d-sm-block">Criação de Clippings </h1>
  <p class="lead d-none d-sm-block">Criar clippings no ClipMe</p> 

    <div class="form-group">
        <label>Selecione um template</label>
        <select class="form-control" name="templateSelecionado" [(ngModel)]="templateSelecionado" (change)="checkChange()" >
            <option *ngFor="let template of templates" [value]="template.id">
              {{template.name}}
            </option>
        </select>
    </div>
    

    <div class="form-group">
        <label>Selecione um usuário</label>
        <select class="form-control" [(ngModel)]="userSelecionado" name="userSelecionado" (change)="checkChange()">
            <option *ngFor="let user of usuarios" [value]="user.id">
              {{user.login}}
            </option>
        </select>
    </div>

    <div *ngIf="editar" style="border: gray">
          <h4>Criando clipping</h4>
          <form #f="ngForm" (ngSubmit)="criarClipping(f)">

              <div class="form-group">
                  <label>Titulo</label>
                  <input type="text" class="form-control" name="titulo" [(ngModel)]="clippingTitulo">
              </div>

              <div class="form-group" *ngFor="let item of templateSelecionadoTitleList; let index= index">
                  <label>{{item}}</label>
                  <input type="text" class="form-control" name="{{index}}" ngModel>
              </div>

              <button class="btn btn-primary">Criar</button>
          </form>

    </div>


    <table class="table table-striped lead" style="margin-top: 4%">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Titulo</th>
  
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let clipping of clippings">
              <th scope="row">{{clipping.id}}</th>
              <td>{{clipping.clippingName}}</td>
              <td>
                  <button class="btn btn-outline-primary" style="margin-left: 1%" (click)="vizualizar(clipping.id)">Visualizar</button>
                  <button class="btn btn-outline-danger" style="margin-left: 1%" (click)="deletarClipping(clipping.id)">Deletar</button>
              </td>
            </tr>
          </tbody> 
    </table>


    <div *ngIf="isVisualizar" style="margin-top: 3%; border-left: 6px solid green; background-color: lightgrey;">
      <div style="margin-left: 10px">
          <h4>{{clippingVisualizar.clippingName}}</h4>
          <h5>{{usuarioVisualizar.login}}</h5>
          <div *ngFor="let itemList of clippingVisualizar.itemList">
            <b>{{itemList.title}}</b>
            <p>{{itemList.description}}</p>
          </div>
      </div>
    </div>


</div>
