<div id="LoginForm">

    <div class="container">
    <div class="login-form">
    <div class="main-div">
        <div class="panel">
       <h2>Cadastro ClipMe</h2>
       <p>Por favor, digite seu email, login e senha para cadastro</p>
       </div>
        <form id="Login" #f="ngForm" (ngSubmit)="cadastro(f)">

            <div class="form-group">
                <input type="email" class="form-control" id="inputEmail" placeholder="Email Address" name="email" ngModel>
            </div>
    
            <div class="form-group">
                <input type="text" class="form-control" id="inputLogin" placeholder="Username" name="login" ngModel>
            </div>
    
            <div class="form-group">
                <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="senha" ngModel>
            </div>

            <button type="submit" class="btn btn-primary">Cadastrar</button>
  
        </form>
      </div>
    </div>
  </div>
</div>
    