<div id="LoginForm">

    <div [hidden]="!loginIncorreto" class="alert alert-danger">
        <strong>Falha ao logar!</strong> Por favor, verifique senha e password.
    </div>

    <div class="container">
    <div class="login-form">
    <div class="main-div">
        <div class="panel">
       <h2>ClipMe</h2>
       <p>Please enter your username and password</p>
       </div>
        <form id="Login" #f="ngForm" (ngSubmit)="onClickLogin(f)">
    
            <div class="form-group">
                <input type="email" class="form-control" id="inputEmail" placeholder="Email Address" name="login" ngModel>
            </div>
    
            <div class="form-group">
                <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="senha" ngModel>
            </div>

            <button type="submit" class="btn btn-primary">Login</button>
            <div class="forgot">
                <a [routerLink] = "['/cadastro']">Deseja cadastra-se?</a>
            </div>
  
    
        </form>
      </div>
    </div>
  </div>
</div>
    