<app-menu></app-menu>

<div class="col main pt-3">

    <h1 class="display-4 d-none d-sm-block"> Usuários </h1>
    <p class="lead d-none d-sm-block">Usuários cadastrados no ClipMe</p>

    <table class="table table-striped lead">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Email</th>
            <th scope="col">Username</th>
            <th scope="col">Password</th>
            <th scope="col">Acao</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of usuarios">
            <th scope="row">{{user.id}}</th>
            <td>{{user.email}}</td>
            <td>{{user.login}}</td>
            <td>{{user.password}}</td>
            <td>
              <button class="btn btn-outline-primary" style="margin-right:5px" (click)="editarUsuario(user)">Editar</button>
              <button class="btn btn-outline-danger" (click)="deletarUsuario(user.id)">Deletar</button>
            </td>
          </tr>
        </tbody>
      </table>

      <div [hidden]="!editar">
          
          <div class="container">
          <p class="lead d-none d-sm-block">Editar usuário <strong>{{usuarioEdicao.login}}</strong></p>

          <form id="Editar" #f="ngForm" (ngSubmit)="onClickSalvar(f)">

              <div class="form-group">
                  <label>Email</label>
                  <input type="email" class="form-control" id="inputEmail" placeholder="{{usuarioEdicao.email}}" name="email" ngModel>
              </div>

              <div class="form-group">
                  <label>Login</label>
                  <input type="text" class="form-control" id="inputLogin" placeholder="{{usuarioEdicao.login}}" name="login" ngModel>
              </div>
      
              <div class="form-group">
                  <label>Senha</label>
                  <input type="password" class="form-control" id="inputPassword" placeholder="{{usuarioEdicao.password}}" name="password" ngModel>
              </div>
  
              <button type="submit" class="btn btn-primary">Salvar</button>
    
      
          </form>
          </div>

      </div>
</div>




